<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title>Audio Analýza</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="audio-container">
  <p class="description">Nahrávat je doporučeno na mobilním zařízení a zde jen sledovat</p>
  <button id="recordButton" class="record-button">
    <span id="buttonText" class="button-text">START</span>
  </button>
  <p class="description down">Aktuální nahrávání</p>
  <p id="onlyPc" class="not-recording">Přihlašte se přes mobilní zařízení a začněte nahrávat tam</p>
  <p class="unseen">Typ zařízení:</p>
</div>
<script>
  let stream;
  let chunkIndex = 0;
  let secs = 0;
  let recordingId;  // Globální proměnná pro uložení ID nahrávky

  const multipleDevices = "<%= multipleDevices %>";
  const deviceType = "<%= deviceType %>";
  const hasMobileSession = "<%= hasMobileSession %>";

  const onlyPc = document.getElementById("onlyPc");



  console.log("predavam ejs sablone: ")
  console.log(multipleDevices)
  console.log(deviceType)
  console.log(hasMobileSession)

  if(hasMobileSession){
    onlyPc.classList.toggle("unseen");
  }



  async function startRecording() {

    // Zavoláme endpoint pro vytvoření nové nahrávky
    const response = await fetch('/recordings/create', { method: 'POST' });
    const data = await response.json();

    if (data.recordingId) {
      recordingId = data.recordingId;  // Uložíme ID nahrávky pro pozdější použití
      console.log('Nahrávka vytvořena s ID:', recordingId);
    } else {
      console.error('Chyba při vytváření nahrávky');
      return;
    }

    // Nastavení pro nahrávání
    stream = await navigator.mediaDevices.getUserMedia({ audio: true });
    recording = true;
    chunkIndex = 0;


    loopRecording(recordingId);
  }

  function loopRecording(recordingId) {
    if (!recording) return;

    const mediaRecorder = new MediaRecorder(stream);
    const chunks = [];

    mediaRecorder.ondataavailable = e => {
      chunks.push(e.data);
    };

    mediaRecorder.onstop = () => {
      const blob = new Blob(chunks, { type: 'audio/webm' });
      const currentChunk = chunkIndex++;

      // Spusť odesílání asynchronně, ale nečekej na něj
      sendChunkToServer(blob, currentChunk, recordingId);
      console.log("blob", blob);
      console.log("currentChunk", currentChunk);

      // ✅ mezitím už můžeš rozjet nový rekordér
      loopRecording(recordingId);
    };

    mediaRecorder.start();
    setTimeout(() => mediaRecorder.stop(), 1000); // Nahrávání na 1 sekundu
  }

  async function sendChunkToServer(blob, chunkNumber, recordingId) {
    const formData = new FormData();
    formData.append("audio_data", blob, `chunk_${chunkNumber}.webm`);
    formData.append("recordingId", recordingId);  // Posíláme ID nahrávky
    console.log('recordingId:', recordingId);  // Ověřujeme, že recordingId není undefined
    console.log("Odesílám soubor:", `chunk_${chunkNumber}.webm`); // Přidej log pro kontrolu

    try {
      const res = await fetch("/record/upload", {
        method: "POST",
        body: formData
      });
      const data = await res.json();
      console.log("data co vraci python na front end ", data.pythonResponse)

    } catch (err) {
      console.error("Chyba při uploadu chunku:", err);
    }
  }

  function stopRecording() {
    recording = false;
    recordingId = null;
    if (stream) stream.getTracks().forEach(track => track.stop());
  }
function activeButton() {

  }
  const recordButton = document.getElementById("recordButton");
  const buttonText = document.getElementById("buttonText");
  let recording_local = false;
  recordButton.addEventListener("click", async () => {
    if (recording_local) {

      //sem dame ze prestaneme nahrvaat

      recordButton.classList.remove('active');
      stopRecording();
      recording_local = false;
      buttonText.textContent = "START";
    } else {

      //



      recordButton.classList.toggle('active');
      await startRecording();
      recording_local = true;
      buttonText.textContent = "STOP";
    }
  });

</script>
</body>
</html>
