<header>
    <nav class="navbar">
        <div class="logo"></div>
        <ul class="nav-links">
            <li><a href="/account">ÚČET</a></li>
            <li><a href="/recordings">NAHRÁVKY</a></li>
            <li><a href="/record">NAHRÁVAT</a></li>
        </ul>
    </nav>
</header>
