<header>
    <nav class="navbar">
        <div class="logo"></div>
        <ul class="nav-links">
            <li><a href="/keyboard/account">ÚČET</a></li>
            <li><a href="/keyboard/recordings">NAHRÁVKY</a></li>
        </ul>
    </nav>
</header>