<header>
    <nav class="navbar">
        <div class="logo"></div>
        <ul class="nav-links">
            <li><a href="/keyboard/catalog">KATALOG</a></li>
            <li><a href="/keyboard/account">ÚČET</a></li>
            <li><a href="/keyboard/loans">VÝPŮJČKY</a></li>
            <li><a href="/keyboard/report">STATISTIKY</a></li>
            <li><a href="/keyboard/import">IMPORT</a></li>

        </ul>
    </nav>
</header>